<!DOCTYPE html>
<html>
  <head>
    <title>Dennis Thoughts</title>
    <meta charset="utf-8">
    <link rel="icon" href="/images/logosmall.png">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
  </head>
  <body>
    <div class="topblue">
      <% if flash[:notice] %>
        <div class="flash notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% unless @current_user %>
        <div class="topbutton">
          <a href="/signin"><button type="button" name="button">Sign In</button></a>
        </div>
      <% else %>
        <div class="topbutton">
          <span><%= @current_user.username %></span><a href="/account"><button type="button" name="button">Account</button></a><a href="/logout"><button type="button" name="button">Logout</button></a>
        </div>
      <% end %>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
      <% if @current_user %>
        <li><a href="/<%= @current_user.username %>">Profile</a></li>
      <% else %>
        <li><a href="/signin">Profile</a></li>
      <% end %>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/">Random</a></li>
      </ul>
    </div>
      <%= yield %>
  </body>
</html>
