<% if @current_user && @current_user.id == @post.user_id %>
  <div class="profileBody">
    <div class="userInfo">
      <h2><a href="/<%= @user.username %>">@<%= @user.username %></a></h2>
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <p><%= @user.bio %></p>
    </div>
    <div class="posts">
      <div class="onepost">
        <h2><%= @post.title %></h2>
        <p><%= @post.body %></p>
        <a href="/post/<%= @post.id %>/delete">Delete</a>
      </div>
    </div>
  </div>
<% else %>
  <div class="profileBody">
    <div class="userInfo">
      <h2><a href="/<%= @user.username %>">@<%= @user.username %></a></h2>
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <p><%= @user.bio %></p>
    </div>
    <div class="posts">
      <div class="onepost">
        <h2><%= @post.title %></h2>
        <p><%= @post.body %></p>
      </div>
    </div>
  </div>
<% end %>
