<div class="profileBody">
  <div class="userInfo">
    <h2>@<%= @user.username %></h4>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p>Bio: </p>
  </div>
  <div class="posts">
    <h3>Posts by <%= @user.first_name %></h3>
    <% @user.posts.each do |post| %>
    		<a href="/<%= @user.username %>/<%= post.id %>">
          <div class="onepost">
            <strong><%= post.title %></a><br></strong>
            <%= post.body %>
          </div></a>
    <% end %>
  </div>
</div>
